@{
    ViewBag.Title = "Home Page";
}
<h2>
    @Html.Encode(ViewData["Message"])
    </h2>
<br /><br />
    @using (@Html.BeginForm("HandleForm", "Home"))
    {
        <p>identyfikator źródła zdarzenia:</p>
        @Html.TextBox("zrodlo")
        <br /><br />
        <p>opis zdarzenia:</p>
        @Html.TextBox("opis")
<br /><br />

    @*@Html.CheckBox("bookType")
        <p> read more fiction than non-fiction.</p><br />
<br /><br />*@
<p>Typ Logu:</p>
 @Html.DropDownList("logtyp")
<br /><br />
<input type="submit" value="Submit" />
}


<h2>
    @Html.Encode(ViewData["Message2"])
</h2>
<br /><br />
@using (@Html.BeginForm("HandleForm2", "Home"))
{
    <p>Typ:</p>
        @Html.TextBox("typ")
        <br /><br />
        <input type="submit" value="Submit" />
}

<h2>
    @Html.Encode(ViewData["Message3"])
</h2>
<br /><br />
@using (@Html.BeginForm("LogViewer", "Home"))
{
    <p>Wybierz dziennik:</p>
    @Html.DropDownList("logtyp")
    <br /><br />
    
        <input type="submit" value="Submit" />
}


